<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
        <img src="../../../../assets/logo.png" style="height: 80px;" alt="">
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="users" routerLinkActive="actieve-link" class="nav-link px-2 link-secondary">Users</a></li>
        <li><a routerLink="quizzes" routerLinkActive="actieve-link" class="nav-link px-2 link-secondary">Quizzes</a></li>
        <li><a routerLink="favorites" routerLinkActive="actieve-link" class="nav-link px-2 link-secondary">Favoriete quizzes</a></li>
        <li><a routerLink="questions" routerLinkActive="actieve-link" class="nav-link px-2 link-secondary">je eigen vragen</a></li>
        <li><a routerLink="about" routerLinkActive="actieve-link" class="nav-link px-2 link-body-emphasis">about</a></li>
      </ul>

      <div *ngIf="isLoggedIn$ | async; else loggedOut" class="text-end">
        <button class="btn btn-outline-danger me-2" (click)="onLogout()">Log uit</button>
      </div>

      <ng-template #loggedOut>
        <div class="text-end">
          <a routerLink="/login" class="btn btn-outline-primary me-2">Log in</a>
          <a routerLink="/register" class="btn btn-primary">Registreer</a>
        </div>
      </ng-template>
    </div>
  </div>
</header>
