<section class="py-5">
	<div class="container">
		<div class="row gx-4 align-items-center justify-content-between">
			<div class="col-md-5 order-2 order-md-1">
				<div class="mt-5 mt-md-0">
					<h2 class="display-5 fw-bold">About the app</h2>
					<p class="lead">Welkom bij Trivia Meesters, de ultieme quizervaring voor nieuwsgierige en fanatieke spelers! Mijn doel is om leren en plezier samen te brengen door middel van uitdagende en boeiende trivia vragen. Of je nu wilt strijden voor de hoogste score, je kennis wilt vergroten, of gewoon een leuke tijd wilt hebben met vrienden, mijn app biedt het allemaal.
                        Algemene kennis is altijd leuk om te testen. En met behulp van de app kan je jezelf testen maar ook veel nieuwe dingen leren. Strijd ook tegen je vrienden in de leaderboards om te kijken wie de echte trivia meester is.</p>
                        <p>Aan de rechter zijde vindt u mijn ERD voor de web applicatie</p>
				</div>
			</div>
			<div class="col-md-6 offset-md-1 order-1 order-md-2">
				<div class="row gx-2 gx-lg-3">
						<div class="mb-2"><img class="img-fluid rounded-3" src="../../../assets/erdtriviapp1.png"></div>
				</div>
			</div>
		</div>
	</div>
</section>