<body>
  <div class="wrapper">
    <div class="content">
    </div>
      <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
        <div class="col mb-3">
          <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          </a>
          <p class="text-body-secondary">© 2024</p>
        </div>
        <div class="col mb-3">
        </div>
        <div class="col mb-3">
          <h5>Users</h5>
          <ul class="nav flex-column">
            <li><a routerLink="users" routerLinkActive="actieve-link" class="nav-link px-2 link-secondary">Users</a></li>
          </ul>
        </div>
        <div class="col mb-3">
          <h5>Quizzes</h5>
          <ul class="nav flex-column">
            <li><a routerLink="quizzes" routerLinkActive="actieve-link" class="nav-link px-2 link-secondary">Quizzes</a></li>
          </ul>
        </div>
        <div class="col mb-3">
          <h5>Favoriete quizzes</h5>
          <ul class="nav flex-column">
        <li><a routerLink="favorites" routerLinkActive="actieve-link" class="nav-link px-2 link-secondary">Favoriete quizzes</a></li>
          </ul>
        </div>
      </footer>

  </div>
</body>
